server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:userauthdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org.hibernate.SQL: debug

app:
  jwt:
    secret: "change-this-to-a-very-long-random-string-at-least-64-characters-1234567890"
    expiration-minutes: 30
